/*	extra.css	*/

/*
- https://www.w3schools.com/colors/colors_names.asp
- https://www.w3schools.com/colors/colors_groups.asp
- https://www.w3schools.com/colors/colors_hex.asp
*/

#toc-collapse
{
  height: 85vh;
  overflow-y: auto;
}

.bg-primary
{
  background-color: darkolivegreen !important;
  background-image: linear-gradient(forestgreen, green);
}

h1, h2, h3, h4, h5, h6
{
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}

h1, h3, h5
{
  text-align: center;
}

h2, h4, h6
{
  text-align: left;
}

.table
{
  margin-top: 0.1em !important;
  margin-bottom: 0.1em !important;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

th
{
  text-align: center;
}

th, td
{
  padding: 0.5em !important;
}

p, pre
{
  margin-top: 0.1em !important;
  margin-bottom: 0.1em !important;
}

ul
{
  margin-top: unset !important;
  margin-bottom: unset !important;
}

blockquote
{
  background-color: #f0f0f0;
  font-style: italic;
  padding: 1em;
  margin: 1em;
}

.admonition
{
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.admonition > p
{
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}

details
{
  border: 1px dotted OliveDrab;
  box-shadow: 1px 1px 2px #bbbbbb;
  padding: 0.25em;
  border-radius: 4px;
  text-align: left;

  color: DarkOliveGreen;
  background-color: #bbccaa;
  border-color: Olive;
}

details > summary
{
  padding: 0.25em;
  width: 99%;
  color: DarkOliveGreen;
  font-weight: bold;
  background-color: #bbccaa;
  border: 1px solid transparent;
  border-radius: 4px;
}

.yes
{
  font-size: 1.2em;
  font-weight: bold;
  color: green;
}

.no
{
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

.text-border
{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.red
{
  color: red;
  font-weight: bold;
}

.green
{
  color: green;
  font-weight: bold;
}

.blue
{
  color: blue;
  font-weight: bold;
}

.gold
{
  color: gold;
  font-weight: bold;
}

.title-image
{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.monospace
{
  font-family: 'Courier New', Courier, monospace;
}

a:link
{
  color: green;
}

a:hover
{
  color: limegreen;
}

a:active
{
  color: darkolivegreen;
}

a:visited
{
  color: darkgreen;
}

.note  a:link
{
  color: darkblue !important;
}

.note  a:hover
{
  color: blue !important;
}

.note  a:active
{
  color: royalblue !important;
}

.note  a:visited
{
  color: cornflowerblue !important;
}

.warning  a:link
{
  color: goldenrod !important;
}

.warning  a:hover
{
  color: gold !important;
}

.warning  a:active
{
  color: yellow !important;
}

.warning  a:visited
{
  color: sienna !important;
}

.danger  a:link
{
  color: red !important;
}

.danger  a:hover
{
  color: crimson !important;
}

.danger  a:active
{
  color: orangered !important;
}

.danger  a:visited
{
  color: darkred !important;
}

.dia-8m
{
  width: 100%;
  min-height: 4em;
  color: #DA70D6;
  background-color: #8A2BE2;
  border: 1px solid #9932CC;
  text-align: center;
  font-weight: bold;
  padding: 1em;
}

.dia-feriado
{
  width: 100%;
  min-height: 4em;
  color: darkslategrey;
  background-color: lightgrey;
  border: 1px solid lightslategrey;
  text-align: center;
  font-weight: bold;
  padding: 1em;
}

.vacaciones
{
  width: 100%;
  height: 4em;
  color: black;
  font-weight: bold;
  border: 1px dotted white;
  text-align: center;
  vertical-align: text-bottom;
  font-size: 90px;
  font-weight: bold;
  padding: 1.5em;
  text-shadow: -0.25px 0.25px 0 white, 0.25px 0.25px 0 white, 0.25px -0.25px 0 white, -0.25px -0.25px 0 white;
  /* background-image: linear-gradient(to right, salmon, goldenrod, peru, gold, navajowhite, moccasin, peachpuff, burlywood, mistyrose, khaki, beige, blanchedalmond, oldlace, lightgoldenrodyellow, papayawhip, ivory, bisque, lemonchiffon, antiquewhite, aquamarine, cyan, aqua, darkcyan, teal, turquoise, cadetblue, lightskyblue, deepskyblue, cornflowerblue, steelblue, dodgerblue, skyblue, royalblue, blue, mediumblue, navy, darkblue, midnightblue); */
  background-image: linear-gradient(to top,
    Azure,
    AliceBlue,

    Snow,
    GhostWhite,
    WhiteSmoke,
    LavenderBlush,
    MistyRose,

    SeaShell,
    Beige,
    OldLace,
    FloralWhite,
    Ivory,
    AntiqueWhite,
    Linen,

    Cornsilk,
    BlanchedAlmond,
    Bisque,
    NavajoWhite,
    Wheat,
    BurlyWood,
    Tan,

    LightCyan,
    Aqua,
    Cyan,
    PaleTurquoise,
    Aquamarine,
    Turquoise,
    MediumTurquoise,
    DarkTurquoise,

    CadetBlue,
    SteelBlue,
    DodgerBlue,
    RoyalBlue,
    Blue,
    MediumBlue,
    DarkBlue,
    Navy,
    MidnightBlue,

    LightSteelBlue,
    LightBlue,
    PowderBlue,
    LightSkyBlue,
    SkyBlue,
    DeepSkyBlue,
    CornflowerBlue

  );
}

.paro
{
  width: 100%;
  min-height: 4em;
  background-image: linear-gradient(to right, red, red, red , red , black, black , black , black);
  color: white;
  font-weight: bold;
  border: 1px dashed red;
  text-align: center;
  font-weight: bold;
  padding: 1em;
}

.paro  a:link
{
  color: white !important;
}

.paro  a:hover
{
  color: silver !important;
}

.paro  a:active
{
  color: whitesmoke !important;
}

.paro  a:visited
{
  color: lightgray !important;
}
